* {
  margin: 0;
  padding: 0;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "title title"
    "header header"
    "sidebar sidebar"
    "content content"
    "footer footer";
  grid-gap: 1em;
}

.title {
  grid-area: title;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

.grid div:nth-child(even) {
  background-color: #333;
}

.grid div:nth-child(odd) {
  background-color: #555;
}

/* Mobile first then Disktop */
/* Disktop version */
@media screen and (min-width: 736px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "title title"
      "header ."
      "sidebar content"
      "footer footer";
  }
}